{{#each this}}
  <li class='gallery-item' data-id='{{id}}'>
    <article class='card'>
      <div class='card-thumb'>
        <a class='card-link' href='{{largeImageURL}}'>
          <img
            class='card-image'
            src='{{webformatURL}}'
            alt='{{tags}}'
            width='360'
            height='200'
          />
        </a>
      </div>

      <div class='card-content'>
        <ul class='card-socials'>
          <li>
            <h3>likes</h3>
            <p>{{likes}}</p>
          </li>
          <li>
            <h3>views</h3>
            <p>{{views}}</p>
          </li>
          <li>
            <h3>comments</h3>
            <p>{{comments}}</p>
          </li>
          <li>
            <h3>downloads</h3>
            <p>{{downloads}}</p>
          </li>
        </ul>
      </div>
    </article>
  </li>
{{/each}}
